<!-- <canvas id="line" class="chart chart-line" chart-data="accelerationData"
    chart-labels="accelerationLabels" chart-legend="true" chart-series="accelerationSeries"
    chart-click="onClick" >
</canvas>
 -->
<div class="my-chart">
    <linechart data="data" options="options"></linechart>
</div>
<!-- <div>
<div colorpicker="rgb" colorpicker-size="200" colorpicker-inline="true"
    colorpicker-selected="changeColor()"
    ng-model="ballColor"><div/>
</div>
<p>What</p>
<div>
<div colorpicker="rgb" colorpicker-size="400" colorpicker-inline="true"
    colorpicker-selected="changeColor()"
    ng-model="ballColor2"><div/>
</div> -->