<!-- <canvas id="line" class="chart chart-line" chart-data="data"
    chart-labels="labels" chart-legend="true" chart-series="accelerationSeries"
    chart-click="onClick" >
</canvas>
 -->
<!-- <div class="line-chart">
    <linechart data="data" options="options"></linechart>
</div> -->
<div class="line-chart">
<div id="chartContainer"></div>
</div>
<!-- <div>
<div colorpicker="rgb" colorpicker-size="200" colorpicker-inline="true"
    colorpicker-selected="changeColor()"
    ng-model="ballColor"><div/>
</div>
<p>What</p>
<div>
<div colorpicker="rgb" colorpicker-size="400" colorpicker-inline="true"
    colorpicker-selected="changeColor()"
    ng-model="ballColor2"><div/>
</div> -->