<!-- <div class="jumbotron text-center"> -->
<div class="row">
    <div class="col-sm-6">
        <form>
            <div class="form-group row">
                <label class="col-sm-2 form-control-label">Broker</label>
                <div class="col-sm-10">
                    <div class="btn-group" uib-dropdown>
                        <button id="single-button" type="button"
                                class="form-control btn btn-default dropdown-toggle"
                                ng-disabled="mqttConnecting || mqttConnected"
                                uib-dropdown-toggle>
                            {{mqttBroker || 'Please select a broker'}}
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu aria-labelledby="single-button">
                            <li ng-repeat="(name, broker) in mqttBrokers"
                                ng-click="selectBroker(broker.wsUrl)">
                                <a href="#">{{broker.wsUrl}}</a>
                            </li>
                        </ul>
                    </div>
                    <span>
                        <button type="submit" class="btn btn-success"
                                ng-hide="mqttConnecting || mqttConnected"
                                ng-disabled="!mqttBroker" ng-click="connect(mqttBroker)">
                            Connect
                        </button>
                        <button type="submit" class="btn btn-success" ng-show="mqttConnecting"
                                disabled ng-click="connect(mqttBroker)">
                            Connecting...
                        </button>
                        <button type="submit" class="btn btn-success" ng-show="mqttConnected"
                                ng-click="disconnect()">
                            Disconnect
                        </button>
                    </span>
                </div>
            </div>

            <hr>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <form>
            <fieldset ng-disabled="!mqttConnected">
                <div class="form-group row">
                    <label for="publishTopic" class="col-sm-2 form-control-label">Topic</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control col-sm-2" id="publishTopic"
                               placeholder="Topic" ng-model="publishTopic">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="publishMessage" class="col-sm-2 form-control-label">Message</label>
                    <div class="col-sm-10">
                        <textarea tpye="text" class="form-control" id="publishMessage"
                                  placeholder="Message" ng-model="publishMsg">
                        </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success"
                                ng-disabled="!publishTopic || !publishMsg"
                                ng-click="publish(publishTopic, publishMsg)">
                            Publish
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-sm-6">
        <form>
            <fieldset ng-disabled="!mqttConnected">
                <div class="form-group row">
                    <label for="subscribeTopic" class="col-sm-2 form-control-label">Topic</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="subscribeTopic"
                               placeholder="Topic" ng-model="subscribedTopic">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success"
                                ng-disabled="!subscribedTopic"
                                ng-click="subscribe(subscribedTopic)">
                            Subscribe
                        </button>
                    </div>
                </div>
                <ul class="list-group col-sm-offset-2">
                    <li class="list-group-item"
                       ng-repeat="(topic, msg) in subscribedMsgs track by topic">
                       <h4 class="list-group-item-heading">

                          <span class="label label-default label-pill pull-xs-right">{{msg.time}}</span>
                          {{topic}}</h4>
                       <p class="list-group-item-text" ng-style="{ 'background-color': msg.payload }">
                           {{msg.payload}}
                       </p>
                       <div class="progress" ng-repeat="number in msg.numbers">
                            <div class="progress-bar" role="progressbar"
                                 aria-valuenow="{{number.number}}"
                                 aria-valuemin="-32768" aria-valuemax="32768"
                                 ng-style="{ width: number.percentage + '%' }">
                                <span>{{number.number}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>
</div>