textarea {
    resize: vertical;
}
canvas {
    border-style: solid;
}
.progress {
    position: relative;

    span {
        position: absolute;
        display: block;
        width: 100%;
        color: black;
    }
}
ul {
    list-style-type: none;
}
.pull-xs-right {
    float: right !important;
}
.label-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.line-chart {
    height: 300px;
}