<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <base href="/">

        <title>EnterNet IoT</title>

        <!-- CSS -->
        <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="libs/angular-bootstrap-colorpicker/css/colorpicker.min.css">
        <link rel="stylesheet" href="dist/css/style.min.css"> <!-- custom styles -->

        <script src="libs/scriptjs/dist/script.min.js"></script>
        <!-- JS -->
        <script src="libs/angular/angular.js"></script>
        <!-- do not use min.js if angular gives weird error messages -->
        <!-- <script src="libs/angular/angular.min.js"></script> -->
        <script src="libs/angular-route/angular-route.min.js"></script>
        <script src="libs/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="libs/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
        <script src="libs/moment/min/moment.min.js"></script>
        <script src="libs/lodash/dist/lodash.min.js"></script>

        <script src="downloads/canvasjs/canvasjs.min.js"></script>

        <!-- BROWSERIFY BUNDLE -->
        <script src="dist/js/bundle.min.js"></script>
        <!-- ANGULAR CUSTOM -->
        <script src="dist/js/app.min.js"></script>

        <script>var mqttBrokers = <%- JSON.stringify(mqttBrokers) %></script>
    </head>
    <body ng-app="iotApp" ng-controller="mainController">
        <div class="container">
            <!-- HEADER -->
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">EnterNet IoT</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a ng-href="/http">HTTP</a></li>
                    <li><a ng-href="/mqtt">MQTT</a></li>
                    <li><a ng-href="/wifi">WiFi</a></li>
                    <li><a ng-href="/balls">Balls</a></li>
                    <!-- <li ng-repeat="t in tabs"
                        ng-click="changeActivity(t.activity)">
                        <a ng-href="{{t.link}}">{{t.title}}</a>
                    </li> -->
                    <li class="btn-group" type="button" uib-dropdown>
                        <a href="#" id="single-button" uib-dropdown-toggle>
                            Applications <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                            aria-labelledby="single-button">
                            <li ng-repeat="t in tabs" role="menuitem"
                                ng-click="changeActivity(t.activity)">
                                <a ng-href="{{t.link}}">{{t.title}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td ng-repeat="(id, ball) in ballData">
                            <div class="ball-list-item number-circle"
                                 ng-style="{'background-color': convertToCssColor(ball.color)}">
                                {{id}}
                            </div>
                            <!-- <div class="horizontal-ball-list">
                                <h4 class="horizontal-ball-list">{{id}}</h4>
                            </div> -->
                            <div class="ball-list-item">
                                <div ng-repeat="(otherId, d) in ball.distances">
                                    {{otherId}}: {{d | number: 2}} ({{ball.rssi[otherId]}})
                                </div>
                                <div>a: {{ball.acceleration}}</div>
                                <div>nearby:</div>
                                <span ng-repeat="(otherId, n) in ball.neighbors">
                                        {{otherId}}
                                </span>
                            </div>
                            <!-- <svg height="50" width="50">
                                <circle cx="25" cy="25" r="18" stroke="black" stroke-width="2" ng-attr-fill="{{convertToCssColor(ball.color)}}"/>
                            </svg> -->
                        </td>
                    </tr>
                </table>
            </div>

            <!-- ANGULAR DYNAMIC CONTENT -->
            <div ng-view></div>

        </div>
    </body>
</html>
